[submodule "backend"]
	path = backend
	url = https://github.com/iashutoshtiwari/knowloft-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/iashutoshtiwari/knowloft-frontend.git
